<h1 align="center"> Showing selected article </h1>

<div class="row forms">
  <div class="col-xs-12 col-md-12">
    <%= form_for @article do |f| %>
    <div class="row">
      <div class="form-group col-md-offset-2 col-md-8">
          <%= f.label :title %>
          <%= f.text_field :title, class: "form-control", placeholder: "Title for new Article", disabled: true %>
      </div>
      <div class="col-md-6">
      </div>
    </div>
    <div class="row">
      <div class= "form-group col-md-offset-2 col-md-8">
          <%= f.label :description %>
          <%= f.text_area :description, class: "form-control", placeholder: "Description of article",rows: "10", disabled: true %>
      </div>
    </div>
    <% end %>
    <div class="col-md-offset-2">
      <div class="col-md-4">
        <h4><%= link_to "List articles", articles_path, class: "btn btn-primary" %></h4>
      </div>
      <div class="col-md-4">
        <h4><%= link_to "Edit article", edit_article_path(@article), class: "btn btn-primary" %></h4>
      </div>
      <div class="col-md-4">  
        <h4><%= link_to "Delete article",article_path(@article), method: :delete, data: {confirm: "Are you Sure?"}, class: "btn btn-primary" %></h4>
      </div>
    </div>
  </div>
</div>